@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rajdhani&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
    font-family: "Josefin Sans", sans-serif;
}

:root {
    --color1: #52a552;
    --color2: #424242;
    --color3: #818181;
    --color4: #ffffff;
    --color5: #19857b;
    --color6: #303030;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;

}

.ls_left {
    height: 100%;
    width: 65%;
    position: relative;
    background-color: var(--color1);
    background-image: url("../logo/groot_bg.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:flex-start;

    & > img{
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
    }

    .para_loader{
        height: 20%;
        width: 90%;
        /* border: 2px solid red; */
        padding: 10px;
        padding-left: 70px;
        
        h1{
            color: white;
            font-size: 4rem;
            display: flex;
            align-items: center;

            img{
                margin-inline: 30px;
                animation: blink 1s infinite;
                margin-bottom: 10px;
            }
        }
        p{
            padding-top: 30px;
            padding-left: 5px;
            color: white;
            font-size: 3.3rem;
        }
    }
}
@keyframes blink {
    0% {
      opacity: 1; /* Full opacity */
    }
    50% {
      opacity: 0; /* Half opacity (invisible) */
    }
    100% {
      opacity: 1; /* Full opacity */
    }
  }

.ls_right {
    height: 100%;
    width: 35%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#ls_bottom_img{
    position: absolute;
    bottom: 5px;
    height: 70px;
}

.sign_login {
    height:60%;
    width: 65%;
    /* border: 2px solid white; */
    position: relative;
    color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;    
    
    *{
        transition: .2s;
    }
    
    h1{
        font-size: 2rem;
        padding-bottom: 20px;
    }
}
.ls_icons{
    position: absolute;
    top: 0;
    right: 0;
    height: 88%;
    margin-top: 3px;
    margin-right: 3px;
    padding: 12px;
    background-color: var(--color2);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /* border: 2px solid red; */
}
.show_hide_pass{
    padding: 13px;
}
.inp_p,#signup_login_button{
    height: 50px;
    width: 90%;
    margin-block: 8px;
    position: relative;
}
#signup_login_button{
    background-color: var(--color1);
    color: var(--color4);
    font-size: 1.3rem;
    border: none;
    outline: none;
    margin-top: 20px;
    transition: .09s;
}
#signup_login_button:active{
    scale: .9;
}
.inp{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px;
    padding-right: 4rem;
    font-size: 1.2rem;
    border: 3px solid transparent;
    transition: .1s;
    background-color: #424242;
    color: var(--color4);
}
.inp::placeholder{
    font-size: 1.2rem;
}
.inp:hover{
    border: 2px solid white;
}
.inp:focus{
    border: 3px solid var(--color1);
}
.sl_foot{
    padding-block: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        color: var(--color1);
        transition: .3s;
    }
    span:hover{
        text-decoration: underline;
    }
}
.pass1_p{ 
    margin-bottom: 25px;
}
#info_pass{
    font-size: .9rem;
    font-weight: 300;
    padding: 8px;

    span{
        color: red;
    }
}


@media screen and (max-width: 800px) {

    .ls_left{
        display: none;
    }
    .ls_right{
        width: 100%;

        .sign_login{
            width: 65%;
        }
    }
    .sign_login{
        height: 70%;
    }
}


@media screen and (max-width: 500px) {

    .ls_left{
        display: none;
    }
    .ls_right{
        width: 100%;

        .sign_login{
            width: 85%;
        }
    }
    .sign_login{
        height: 70%;
    }
}
